.icon{
    border-radius: 5px;
    background: #D2B48C;
    padding: 5px;
}
.icon2{
    border-radius: 5px;
background: #3C393B;
padding: 5px;
}
.icon3{
    border-radius: 5px;
background: #EA4744;
padding: 5px;
}